<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= settings.site_title %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1>Welcome to <%= settings.site_title %></h1>
        <p>Managed by: <%= settings.author_name %></p>
    </header>

    <div class="nav-box">
        <p>Are you an Organiser?</p>
        <a href="/organiser">Go to Organiser Dashboard</a>
    </div>

    <div class="nav-box">
        <p>Are you an Attendee?</p>
        <a href="/attendee">Go to Events List</a>
    </div>
</body>
</html>