<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> User creation<h1>
    </header>

    <!-- Aqui, vamos usar o method=POST para enviar os dados do cliente para o banco de dados.
    Além disso, action nada mais é do que o endereço de destino. Ou seja, ele vai no endpoint 
    (rota) "save-to-database" e executa o que tem lá. Ou seja ele vai ate a rota e o main executa 
    a função que tem lá dentro. -->

    <main>
        <form action="/create-user" method="POST">
                <label>Name: </label> <br>
                <input type="text" id="name" name="name"> <br>
                
                <label>Last Name: </label> <br>
                <input type="text" id="last_name" name="last_name"> <br>

                <label>Username: </label> <br>
                <input type="text" id="username" name="username"> <br>

                <label>Password: </label> <br>
                <input type="password" id="password" name="password"> <br>

                <button>Create</button> <br>
            </form>

            <a href="/">Back to homepage</a>
    </main>

    <footer>
        <p>&copy; 2026 Credit Recommendation Service. All rights reserved.</p>
    </footer>
    
</body>
</html>