<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Aqui já é EJS.</h1>
    <h2>Agora, vou colocar uma tela de login. </h2>

    <form method="POST" action="/login">
        <label>Username: </label> <br>
        <input type="text" id="username" name="username"> <br>
        <label>Password: </label> <br>
        <input type="password" id="password" name="password"> <br>

        <!--O button quando está dentro de um forms é o gatilho, quando clicado vai disparar todos 
        inputs e envia-los para  rota do action. -->
        <button>Login</button>
    </form>

    <a href="/create-user">Don't have a login? Create a new user here.</a> <br>

    <a href="/">Back to homepage</a>
</body>
</html>